[2015-07-10 09:57] avurro opened #3 "allow to use other java bytecode libraries"
will be nice to give the possibility to change java bytecode libraries, for example: bytebuddy, janino

[2015-07-10 12:07] avurro opened #4 "bug in getGenericString method of ClassesManager class"
It doesn't work if field.toGenericString() will return something like "protected xx.xxx.Status xx.xxx.XClass.status".

[2015-07-10 12:10] avurro opened #5 "recursive mapping Object/List/List doesn't work"
When i try to execute this mapping i obtain this error:
ConversionBodyIllegalCodeException: error in static conversion: probably is an incompatibility of signature, the expected input fields do not match with the real ones, checks the configured class.

[2015-07-10 12:12] #5 closed

[2015-07-10 12:12] #4 closed

[2015-07-10 12:14] avurro opened #6 "NPE when XML path is wrong"
handle the case where the path to the XML file is wrong

[2015-07-10 12:14] #6 closed

[2015-07-23 11:56] avurro opened #7 "wiki import from googlecode site"

[2015-07-28 08:20] spirion opened #8 "XML conversion configuration leads to IllegalArgumentException"
HI.

I've been playing with jmapper (I love it!).  However I've hit an issue I think is probably easy to solve.

I have an XML conversion configured to help out when converting between two JAXB2 generated classes.  My conversion looks a little like this (package name redacted):

    <class name=".....FlightLeg">
        <global></global>
        <conversion name="durationConversion" from="legDurat

[2015-07-28 08:41] avurro commented on #8
Hi,

I'm glad you like it, I'll let you know as soon as possible, meanwhile, changes from STATIC to DYNAMIC or try with this configuration:

[code]

But if you need to recreate a target instance, then this solution is not good

[2015-07-28 09:07] spirion commented on #8
Thanks!  I'll try your configuration.

The one I sent was the result after a number of attempts to get the configuration to work.  It's good to have an alternative direct from you.

[2015-07-28 13:25] avurro commented on #8
I have written the test that simulates the issue and fixed it.
If you're interested in following the lines changed:

 ConversionHandler, line 125
[code]
and in JavassistGenerator (it's new class per 1.4.0 Milestone):
[code]
It is a blocking issue for you?

[2015-07-28 13:26] #8 closed

[2015-07-28 15:18] spirion commented on #8
Fab. You are a star. It's not blocking me, I'm happy to wait for the release. Thank you.

[2015-07-29 09:21] avurro opened #9 "XML configuration as String"
JMapper can be improved to take the XML configuration as string besides to the file format.

[2015-07-29 09:22] #9 closed

[2015-07-29 09:28] #3 closed

[2015-08-02 13:18] avurro opened #10 "Switch XSD localtion"
it's time to change the location of the XSD file from googlecode to GitHub

[2015-08-02 13:21] avurro opened #11 "ByteBuddy as bytecode Generator"
It would be useful to create an artifact with the implementation of the library ByteBuddy for code generation of JMapper

[2015-08-02 13:21] avurro opened #12 "Janino as bytecode Generator"
It would be useful to create an artifact with the implementation of the library Janino for code generation of JMapper

[2015-08-02 13:23] avurro opened #13 "mapping between nested fields"
In many cases there is the need to implement a mapping between fields located on different levels, it is necessary therefore to facilitate this type of work

[2015-08-03 09:25] spirion opened #14 "Dollar character in replaceAll transformation"
In relation to issue #8 , the fix has replaced special characters in the regex part of the replaceAll and not the replacement string (second argument of the replaceAll method).

This is occurring in line 389 of the GeneralUtility class.  Suggest the following fix:

text = text.replaceAll(Pattern.quote(prefix+var.getKey()), Pattern.quote(var.getValue()));

Thanks.

[2015-08-03 09:46] avurro commented on #14
I have fixed it for conversions but not for basic mapping.
I will work on this first of all.

[2015-08-03 09:59] spirion commented on #14
Hi.

Thanks for your support here!  I've done a couple of tests and I've discovered that my suggested solution doesn't work :(

I'll keep on plugging at it given the data I'm pushing through to see what I can come up with.

[2015-08-03 10:06] spirion commented on #14
Hi.
I think the following will work as a replacement for the current code:

text = text.replaceAll(Pattern.quote(prefix+var.getKey()), *Matcher.quoteReplacement(var.getValue()*);

At least for the data I'm seeing go through the method.

[2015-08-03 12:14] avurro commented on #14
You need to escape the $ with a double back slash, for example:
[code]
special characters must be preceded by double backslash if you want use it as normal characters.
Let me know if it works

[2015-08-03 20:56] spirion commented on #14
Hi

Thanks for the info.  I appreciate you spending time on this issue.

I'm not quite sure why the $ is being generated in the framework mappings as I don't have any inner or anonymous classes to map, but perhaps I've missed it.  I'm not using $ in property names at all.  I suspect this may be a result of, or at least a by-product of, the JAXB mapping process which generated the classes I'm mappi

[2015-08-05 10:49] francism-spaggetti opened #15 "Static and synthetic fields should be ignored by global mapping"
When using the JGlobalMap annotation on a class which implements Serializable and has a serialVersionUID field, I get an exception complaining about there not being a getter or setter for "serialVersionUID". Similarly, when using the Jacoco plugin to measure test coverage for my code, I get an exception on classes marked with JGlobalMap complaining that there isn't a mapping for the "$jacocoData"

[2015-08-05 11:54] avurro commented on #15
Hi, thank you for reporting this issue.
The synthetic fields aren't handled for now, but it's very easy to fix.
I'll let you know as soon as possible

[2015-08-05 13:10] avurro commented on #15
i have committed the fix, can you try to use the project with this last update?

[2015-08-05 16:16] #7 closed

[2015-08-06 07:46] spirion commented on #14
Hi.

Apologies for the delay.  I've done a little digging and it appears that the $ causing the issue in the mapping code generation is a result of the framework's generated code.

I have a conversion method in the XML configuration (package name redacted) :

    <class name="com.*****.Duration">
        <global></global>
        <conversion name="conversion" from="unitOfTime" to="unitOfTime" type

[2015-08-06 08:15] francism-spaggetti commented on #15
That seems to have done the trick, thanks :) I will update to the next
version as soon as it's released.

On 05/08/2015 14:10, avurro wrote:

[2015-08-06 18:56] #15 closed

[2015-08-07 09:13] avurro commented on #14
i'm working on.. however i haven't touched the GeneralUtility method because before the class generation, i have applied to all methods a replacement of $.
the code is in `MapperGenarator.generateMapperClass`, line 74:
[code]
I'm investigating

[2015-08-07 10:09] spirion commented on #14
Thanks for giving this your attention, I really appreciate it.

[2015-08-07 12:38] avurro commented on #14
`UnitOfTimeEnum.HOUR` is a InnerClass ?

[2015-08-07 15:37] avurro opened #16 "Performance improvements"
In generation phase can be done some improvements to get better performance

[2015-08-08 12:06] spirion commented on #14
No its not, it's a stand alone enumeration.

[2015-08-08 13:22] avurro commented on #14
I can not recreate the error.. I need more information, you can write the code of the bean classes?

[2015-08-10 08:47] spirion commented on #14
Hi.

I've created a project that shows the error:

https://github.com/spirion/jmapper-issue

Run the TestRunner class to view to issue.  I've tried a number of configs, I can't get the issue to resolve.  I've done the code change to GeneralUtilities locally which fixes this issue, no idea if it introduces any other problems though.

I hope this helps.

[2015-08-10 09:08] avurro commented on #14
thank you, I'm working on.

[2015-08-10 09:59] avurro commented on #14
I undestand the problem,  the order in which the map is processed, however the issue is resolved as you have proposed.
Sorry if I have not heard immediately

[2015-08-10 10:03] #14 closed

[2015-08-11 08:22] spirion commented on #14
Great stuff!  Thanks for your help, it's much appreciated. :)

[2015-08-19 09:32] CasperDB opened #17 "XML configuration for extended classes"
I'm trying to map between two classes, however the desired destination class need to extend another class. Is this possible?

I've asked this question in more detail, [here:](http://stackoverflow.com/questions/32069487/jmapper-xml-configuration-for-extended-classes)

Thanks,
Casper

[2015-08-19 15:03] avurro commented on #17
Language is the same class? Or are two classes in different package?

[2015-08-20 06:38] CasperDB commented on #17
They are two different classes, same name and different packages yes.

[2015-08-20 07:31] avurro commented on #17
You need to map Language soo

[2015-08-20 07:43] CasperDB commented on #17
I'm not sure I follow, any chance you could show me what the implementation and config file would look like for the language field only?

[2015-08-20 08:05] avurro commented on #17
[code]

[2015-08-20 08:39] CasperDB commented on #17
Unfortunately that didn't work. I still get the same error:
"Caused by: com.googlecode.jmapper.exceptions.UndefinedMappingException: it was not possible to map the mapped language field of the RequestD Class with the language field of RequestS Class,.."

It seems like I'm missing something to extend the Destination class (RequestD) to RequestBase where the variables are declared.

[2015-08-20 08:51] avurro commented on #17
try to add the configuration to RequestD as follow:
[code]
Meanwhile i will investigate on this issue

[2015-08-21 12:27] CasperDB commented on #17
I think the answer is to globally map to the destination class, this has worked for me:
[code]

Thank you for your help!

[2015-08-21 23:01] gcamaraomarques opened #18 "ClassNotMappedException with super class mapped"
I'm using RelationalJMapper in my Spring Boot Project, and I have this classes.
*using your example names to help understanding*

[code]
When I try to use the method whereTheMagicHappens the RelationalJMapper.init() throws a ClassNotMappedException.

I'm not sure if it's a problem to you, but to use your mapper I added a attribute never used in both classes and annotated with `@JMap`.

Thanks for

[2015-08-22 08:40] avurro commented on #18
The issue is in the method `isMapped` in `Annotation` class, super class aren't checked, i will fix it as soon as possible.
I'm sorry for the inconvenience

[2015-08-27 11:42] #17 closed

[2015-09-02 20:03] #18 closed

[2015-09-02 20:08] avurro commented on #18
Now you can download the last release tha fix this issue, sorry for the inconvenience.

[2015-09-03 02:21] gcamaraomarques commented on #18
Thank you for the fast solution. And thanks for the great mapper.

[2015-09-03 05:45] avurro commented on #18
Thanks for your support, these are incentives that push me to go ahead :)

[2016-02-01 18:09] avurro opened #19 "Copyright update"

[2016-02-01 21:57] #19 closed

[2016-02-01 21:57] #16 closed

[2016-02-01 21:57] #13 closed

[2016-02-08 15:56] avurro opened #20 "API implementation"
It will be allowed to write the configuration through the use of APIs,
also allowing a dynamic composition.

[2016-03-10 16:39] avurro opened #21 "dexmaker as code generation targeting the Dalvik VM"

[2016-03-22 16:28] #20 closed

[2016-03-22 16:28] #10 closed

[2016-03-23 09:09] avurro opened #22 "Update the Wiki"

[2016-03-23 09:29] avurro opened #23 "Conversion String <-> StringBuilder"

[2016-03-23 09:29] avurro opened #24 "Conversion Date <-> Calendar"

[2016-03-28 19:33] menafawzy opened #25 "get the destination mapped field using the source field"
There are no any APIs for getting the destination mapped field using the source field

[2016-03-28 21:12] avurro commented on #25
Hi,
The wiki is in revision phase, however this API permits to define the configuration to give as input to JMapper class.

[code]
After the JMapper creation, you should call the method [getDestination](https://github.com/jmapper-framework/jmapper-core/wiki/getDestination-method).

This is a third type of configuration, not an alternative to JMapper.

[2016-03-29 07:48] magmel48 opened #26 "How to avoid nested exception"
Hello,
first of all, thank you for great library! I have one question according to nested mapping feature.

In example, I have `Application` class:
`class Application { Category category; ... }`
And `Category` class:
`class Category { Long id; ... }`

I want to map `Application` to `ApplicationDto` class:
`class ApplicationDto { Long categoryId; ... }`

For `categoryId` field I specified annotatio

[2016-03-29 08:09] avurro commented on #26
Hi Max,

the only way that you have to solve this problem is by using Conversion method:
[code]
This method is added to the configuration. so when you have solved the problems with the database you just delete it.<br>
there isn't a quicker solution at the moment

[2016-03-29 10:09] menafawzy commented on #25
sorry my issue hasn't enough description.
I was asking for some sort of APIs that takes the source class and the destination class and the desired field in the destination and return the source field that mapped from.

<S, D> String getSourceFieldName(final Class<S> source, final Class<D> destination, final String destinationFieldName);

<S, D> String getDestinationFieldName(final Class<S> source,

[2016-03-29 11:05] avurro commented on #25
What you need is a sort of ConfigurationHelper, that permits to read the configuration at runtime. Right ?
Currently there aren't APIs for this purpose, but is possible apply a workaround:
[code]
With the next release we will write a series of utility methods for this scope.

[2016-03-29 12:00] menafawzy commented on #25
thanks for your replay and your time.
I already did the workaround that handle the basic using of annotations (JMap and JGlobalMap),
not handle (attributes or classes), nested annotation and xml.

thanks again,
happy to use jmapper framework and waiting for the next release.

[2016-03-29 12:06] avurro commented on #25
Thank you for the feedback,
Add a star to the project if you like it.

Thank you again!

[2016-03-29 22:42] #25 closed

[2016-03-29 22:43] #26 closed

[2016-03-30 09:50] avurro opened #27 "API in RelationalJMapper"

[2016-03-30 09:57] avurro opened #28 "get information about configuration"
It might come in handy a class that allows you to view the configuration at runtime

[2016-04-04 09:44] blacksmith77 opened #29 "Exception when concurrent threads are trying to build the same Mapper"
Ciao Alessandro!

I noticed this exception when 2 threads are trying to build the same Mapper and no mapper are available on cache (eg: app just started)

... when the mapper is available in cache, no exceptions are rised. (eg: a second call of the same function, even from concurrent threads)

Maybe this behavior is simply "working as intended".
I solved this "non problem" by triggering Mappers ca

[2016-04-04 10:14] avurro commented on #29
Hi friend!

this issue is solved with version 1.5, updates without worrying, the versions are backward compatible.

**Personal note:**
Ti ringrazio per il supporto! aggiungi una stella al progetto se ti va :)

[2016-04-04 10:30] blacksmith77 commented on #29
ouch, sorry for the "noob" report :-/
I forgot to mention that I upgraded to jmapper-core 1.6.0.
I update pom.xml and triggered Maven update of dependencies from Eclipse.

Am I missing something?

[2016-04-04 13:28] avurro commented on #29
The principal method is synchronized:
[code]
It is really strange that you will have this problem.
Can you supply the code to be tested?

[2016-04-05 13:40] blacksmith77 commented on #29
Hi!

I prepared an extraction of involved entites.
It's attached to this comment.

By executing JMapperTester I replicate the concurrent threads situation.

[JMapperTester.jar.zip](https://github.com/jmapper-framework/jmapper-core/files/204555/JMapperTester.jar.zip)

[2016-04-05 19:55] avurro commented on #29
Fixed! Thank you for reporting this problem and the support!

Just two considerations on your code:
[code]
It's false, JMapper manages this case, i have tried and it works.

You can use `@JGlobalMap` instead of a long series of `@JMap` annotations.
[code]

This fix will be released with 1.6.1 version! thank you again!

[2016-04-05 20:03] #27 closed

[2016-04-06 09:25] blacksmith77 opened #30 "Mapping from class derived from Template to POJO"
Ciao Alessandro,

    I attach a tester using JMapper v1.6.0 that solicitate an exception when object of a class that specify a template class is mappet to a POJO of a simple class

In this case Boddy is User<Integer>

Thanl for help!
[JMapperTester.jar.zip](https://github.com/jmapper-framework/jmapper-core/files/206114/JMapperTester.jar.zip)

[2016-04-06 09:34] avurro commented on #30
I will see as soon as possible, however the `serialVersionUID` field is automatically skipped, it isn't necessary define it in the configuration.

[2016-04-06 12:34] #29 closed

[2016-04-06 17:24] avurro commented on #30
It works when the inherited classes belong to the mapped class, fails in case of target class. i'm going to fix it, thank you again

[2016-04-06 22:40] avurro commented on #30
Fixed! you will see this fix in the next release.

[2016-04-07 18:14] #30 closed

[2016-04-07 19:40] #22 closed

[2016-04-13 07:48] avurro opened #31 "Conversion Enum <-> String"

[2016-04-15 08:50] avurro opened #32 "JMapperCache utility"
Many users have the need to manage multiple instances of JMapper, would therefore provide a useful utility about.

[2016-04-19 19:02] aitov opened #33 "ConversionBodyIllegalCodeException during usage conversions through JMapperAPI"
Hi,
I'm trying use conversation through JMapperAPI:

[code]

but got exception during excecution:

[code]

root cause at :
[ConversionHandler.java#L164](https://github.com/jmapper-framework/jmapper-core/blob/master/JMapper%20Framework/src/main/java/com/googlecode/jmapper/conversions/explicit/ConversionHandler.java#L164)

beacuse xml.getXmlPath() in this case is full xml (not path to configuration)

[2016-04-19 19:16] aitov commented on #33
Hi,
One more question, to avoid this conversion do you plan add support mapping expression like ${fieldNestedList[0].fieldY} ?

[2016-04-19 19:41] avurro commented on #33
Hi @aitov ,

Thank you for reporting.
I will solve the problem as soon as possible.
Your proposal is interesting, I was already thinking of enriching the nested mapping with some function, JMapper will provide a similar functionality in the future.

[2016-04-19 19:42] avurro commented on #33
In the meantime add a star to the project if you like :)

[2016-04-19 20:27] avurro commented on #33
I have tested your configuration and i have another error:
`JMapper ConversionBodyIllegalCodeException: the conversion1 method contains illegal code, check the conversion code belonging to the DTO1 class. Additional information: [source error] getFieldY() not found in java.lang.Object`
 below the classes used for this test:
[code]
To solve this problem just make the cast in the body of the convers

[2016-04-19 20:45] aitov commented on #33
Hi,
I'm using 1.6.0 version from maven repository, maybe it is already fixed. Need try with current version

[2016-04-20 06:14] aitov commented on #33
Hi,  it works in 1.6.0.1 :)
When will it be released?

[2016-04-20 06:36] avurro commented on #33
Hi @aitov,

I have not made any changes about your report, it's just a configuration error.
In the conversion methods you are subject to bytecode generator limits, in this case Javassist [limits](http://jboss-javassist.github.io/javassist/tutorial/tutorial2.html#limit).

About your proposal will be analyzed and planned.

Thank you for your support

[2016-04-20 12:37] #33 closed

[2016-04-21 09:58] aitov commented on #33
Hi,
Just tested with new version from maven - working! :) thanks.

[2016-04-22 07:34] avurro opened #34 "Initialization optimized of the structures"
Initializing the structures with the correct size are avoided resizing and performance degradation

[2016-04-22 11:53] avurro commented on #12
it's better ByteBuddy as alternative to Javassist, isn't necessary implement both, just only ByteBuddy

[2016-04-22 11:53] #12 closed

[2016-05-18 21:55] #34 closed

[2016-05-19 21:21] #32 closed

[2016-06-06 21:33] avurro opened #35 "Conversion String <-> StringBuffer"

[2016-06-09 13:31] avurro opened #36 "CTclass defrost in finally block"
In Javassist generator the defrost method must be execute in the finally block

[2016-06-09 13:31] #36 closed

[2016-06-13 05:37] vraptorche opened #37 "Support of immutable objects"
When using immutable objects - eg. immutables.org framework, default constructor is missing or private, which prevents instantiation of destination bean

[2016-06-13 05:49] avurro commented on #37
Hi,
you have need that the mapping is done through the constructor, or you just need to instantiate destination before mapping?
if it is the second, you can use the `getDestination` method passing the target bean created.
wiki page [here](https://github.com/jmapper-framework/jmapper-core/wiki/getDestination-method#enrichment-signatures).

Add a star if you like the project, thank you in advance!

[2016-06-13 08:56] vraptorche commented on #37
Hi,
Thank You for the prompt replay.

I can not use the getDestination() methods because I get exception when I
try to create mapper as per:

JMapper<JobListingVO, JobListingEntity> mapper = new
JMapper<>(JobListingVO.class, JobListingEntity.class);

JobListingVO does not have public default constructor and instances
are created with JobListingVO.create()

Best

~Emil

Dipl. Eng. Emil Korladinov M

[2016-06-13 09:47] avurro commented on #37
ok I've seen, but answer my question, what is the desired behavior?

[2016-06-13 10:17] vraptorche commented on #37
Hi,
It will be enough to use pre-created instance through getDestination()

Best
~Emil
On Jun 13, 2016 11:47 AM, "Alessandro Vurro" <notifications@github.com>
wrote:

[2016-06-13 11:20] avurro commented on #37
ok, in the next release we will also this feature.

remember to add the star :)

[2016-06-14 09:55] avurro opened #38 "Conversion between different types of Enums but with same values"

[2016-06-15 21:13] #35 closed

[2016-06-15 21:13] #31 closed

[2016-06-15 21:13] #24 closed

[2016-06-15 21:13] #23 closed

[2016-06-15 22:11] #38 closed

[2016-06-18 01:21] faroukelabady opened #39 "System.out.println in code"
Dear
I foudn the console have a lot of empty lines after little investigation I found the following code

public class BasicOperation extends ASimpleOperation{

	public StringBuilder mapping() {

		System.out.println("");
		Object content = setDestination(applyImplicitConversion(info.getConversionType(), destinationType(), sourceType(), getSource()));

		// add and return a mapping type control

[2016-06-18 11:31] avurro commented on #39
Fixed, thanks!

[2016-06-18 11:32] avurro commented on #39
If you like the project add a star! :)

[2016-06-18 14:25] faroukelabady commented on #39
I truly love the project , I also got some ideas while we started using it , maybe we can talk it over, and see if it can be applied or not

[2016-06-18 15:57] #39 closed

[2016-06-18 16:58] faroukelabady opened #40 "lambda expression in API conversions"
Hi Alessandro Vurro,
I love you framework and how fast it can get , ans would be great if you can add the following ideas

1 - mix between xml configuration and annotation
digging around the code I found that xml configuration takes higher precedence, which is normal ,so what I wish for is the possiblity to mix between the two for a single class
for example I have a class called currency that I ap

[2016-06-19 15:12] faroukelabady commented on #40
Hi Alessandro
thanks for your reply , and glad that I gave you encouragement :),
regarding the points
1- this will be a bug then , because I tried it and the xml or api overrides the annotation. also I followed the code and I found this behavior in source code for jmapper

2- that could be good too , I manager to pass the colelction class type , and return the corresponding object as a result , yo

[2016-06-19 15:51] avurro commented on #40
It is better if we work for single point

For the first point what i mean is that you can define configuration in annotation and conversion methods in XML/API, or viceversa. This mix is provided by the framework, if in your case it does not work, give me a test case on which to work.

let's start with this first

[2016-06-19 21:45] faroukelabady commented on #40
Okay let's revise the example then
[code]

okay in this example I have a destination class , with some of one variable annotated while the other is mapped using the API or xml , so my prediction here is that Jmapper will be able to read the xml and then combine it with the annotation for the same destination class , and have the final configured class, but what actually happens in code is as follo

[2016-06-20 07:44] avurro commented on #40
I do not understand why you need this, why not set up everything in annotation or API / XML? the mix is allowed between configuration and conversion,  or between classes (a class configured in the annotation and another in xml), but the same class configured with two formats I do not see the usefulness.

follow your example revisited, classes:
[code]
execution code:
[code]
Classes configured with

[2016-06-20 11:02] acron17 opened #41 "Feature-request: Allow optional values for nested mapping if nested attribute is null"
I would like to use a nested mapping as follows:
[code]
This normally works but crashes when the nested attribute "some" is null.
I would like to be able to mark this kind of nested mapping optional (maybe giving a default value if the nesting contains a null value).

Maybe like this
[code]

A possible (working) workaround is:
[code]
but that is annoying to write for all optional attributes.

Edit

[2016-06-20 11:48] avurro commented on #41
Hi,

thank you for support!
Your proposal is interesting, in this case to find a solution is important search between existing standards.<br>I think that an Elvis operator is the best response for this need, for example:
[code]
as for Elvis operator, if one of variables is null, destination will be null.<br>What you think about?

[2016-06-20 12:04] avurro commented on #40
For the third point, give the possibility to pass a lambda expression (or an inner class for old java versions) to conversions can be useful.<br>This is an enhancement that i will develop

[2016-06-20 12:54] acron17 commented on #41
Hi avurro,

thanks for the quick response!
I like your approach to check for existing standards first. However I am not sure if this is the best of all solutions as it doesn't give users the option to chose their own default value (like an empty string in my case). This is inconvenient to me but will give users **real** trouble who have primitive attributes in their target objects.

For my persona

[2016-06-20 13:09] avurro commented on #41
Default values are a second feature that will be implemented, because it is useful.
For this proposal, i think that a solution may be:
[code]
mapping code:
[code]
In this case if source is null, destination field will not change. Or in case of enrichment:
[code]
It's a viable solution for you?

[2016-06-20 13:50] acron17 commented on #41
Thanks again for your quick response!

Honestly I don't know yet. I don't can set the default value in the way you suggest, as the target classes are generated. Maybe the Java default values (null for objects, 0 and similar for primitive types) will suffices, maybe not. (See below for details on what I actually am trying to achieve).

Boring(?) details:
My (maybe somewhat special) use case is as f

[2016-06-20 14:01] avurro commented on #41
In this case a combination of Elvis operator and default value is for you.
In the middle time, have you need a workaround?

[2016-06-20 14:07] acron17 commented on #41
Again (at least for me)  being able to set the default value through JMapper would be more convenient as I most likely won't be able to generate the target classes with custom default values (e.g. "" instead of null for strings).

Thanks for asking, no I don't need a workaround. I however would be happy to (alpha/beta) test your implementation against my use case. Just give me the word if you like

[2016-06-20 14:19] avurro commented on #41
I am going to implement the functions mentioned above, after a some study, i will decide if include this features with this release or not (giving priority to default values).
The next comment will be to share the release date.

Your interest is really appreciated, thank you!

[2016-06-20 14:57] faroukelabady commented on #40
including lamdba expression or inner classes in custom conversion will be very good , and will also solve the first point too ,
as for a concrete case, in my company we are using jmapper annotation and with a custom wrapper class around jmapper we are doing the covnersion between java entity and DTO model , so annotation was very convenient , and easily accessible for all the developers , but we c

[2016-06-20 15:43] avurro commented on #40
No, you can define configuration in annotation and ONLY conversion method in API/XML format (see the example above, mappedClass has no attribute definition), you do not need to redefine the relationship in XML.

I have helped you in some way, or I did not understand?

[2016-06-20 15:57] faroukelabady commented on #40
that sounds very good, okay I will try it out once more and inform you if there is anything new,
thanks for your help so much :)

[2016-06-20 16:00] avurro commented on #40
ok, i hope you all works :smiley:

[2016-06-20 16:15] faroukelabady commented on #40
I tried your example but it gives me the following error

Caused by: com.googlecode.jmapper.exceptions.MappingErrorException: incorrect configuration of the currency field in Dest Class: the currency field doesn't exist in Source Class
	at com.googlecode.jmapper.config.Error.mapping(Error.java:404)
	at com.googlecode.jmapper.config.ConfigReader.getValue(ConfigReader.java:99)
	at com.googlecode.jma

[2016-06-20 19:26] avurro commented on #40
please attach the JMapperAPI configuration and the XML obtained from the method call `api.toXstream().toString()`

[2016-06-20 19:28] avurro opened #42 "Default value"
Allowing the definition of default values

[2016-06-20 19:30] avurro opened #43 "Elvis operator in nested mapping"

[2016-06-21 09:43] faroukelabady commented on #40
sorry for the late reply here is the XML document
[code]

also here is the code I wrote, maybe I did something wrong

[code]

[2016-07-09 00:18] doctorxavier opened #44 "System.out.println(""); in com.googlecode.jmapper.operations.simple.BasicOperation"
This system.out prints lots of empty lines in log when the application is loaded.

public class BasicOperation extends ASimpleOperation{

	public StringBuilder mapping() {

		System.out.println("");
		Object content = setDestination(applyImplicitConversion(info.getConversionType(), destinationType(), sourceType(), getSource()));

		// add and return a mapping type control
		return this.addMappingT

[2016-07-10 10:19] avurro commented on #44
This is closed in #39 issue.
Anyway thanks for this report, add a star to the project if you like it :)

[2016-07-14 08:01] petromir opened #45 "[Question] Map object to list of objects"
I have the following case:
[code]
So, I want to map `RegionEntity` to a list of `RegionDto` in `RegionLegalValueDto`.

Is there an easy way to achieve that or I should map `RegionEntity` to `RegionDto` first and then put them into the list?

[2016-07-14 08:22] avurro commented on #45
No easy wan @petromir, the second proposal is the solution

[2016-07-14 10:41] petromir commented on #45
Got it.

[2016-07-14 10:41] #45 closed

[2016-08-05 06:10] petromir opened #46 "[Question] Conversion logic to map few fields to one"
I have the following case:
[code]
I want to map `username`, `firstName` and `lastName` fields of `UserEntity` to `name` field of `UserDto` by applying some conversion logic. For example:
[code]
How this can be achievied with JMapper? I tried `@JMapConversion`, but it looks like it has different purpose.

[2016-08-05 09:41] avurro commented on #46
Mapping is always between two fields in all cases, therefore, it is currently not possible to make the mapping you want, however, is a feature on which I could work.

Thank you! (add a star if you like the project)

[2016-08-05 14:16] petromir commented on #46
It would be nice if you develop it as a new feature.

[2016-08-05 14:16] #46 closed

[2016-08-09 11:21] #44 closed

[2016-08-10 14:09] #40 closed

[2016-08-10 14:10] #41 closed

[2016-08-11 07:55] martin3361 commented on #42
hi there,
is there any progress on this because we need it urgently?
Thanks

[2016-08-11 08:21] avurro commented on #42
sorry @martin3361, i'm working on immutable objects now and as next step i want to review all XML/API exception, my scope is consolidate everything done so far and then resume with developments.

here's what I propose as a temporary solution:
 - enrich the constructor of your bean with default values
[code]
or use get/set methods after creation, and as second step using this strategy:
[code]
In th

[2016-08-11 08:27] martin3361 commented on #42
Thanks for the prompt input!
I already had taken this approach, thanks for confirming this

[2016-08-12 12:40] avurro commented on #37
Implemented, i'm near to release this feature. stay tuned!

[2016-08-12 12:40] #37 closed

[2016-08-12 12:42] avurro opened #47 "Review XML/API exceptions"

[2016-09-08 09:30] xCASx opened #48 "Direct output to System.out stream"
There are a `System.out.println` instruction in `com.googlecode.jmapper.operations.simple.BasicOperation#mapping` method.
This leads to lots of empty strings in output stream on mapper initialisation stage.
It's definitely not a good behaviour for a third party library.

[2016-09-08 09:44] avurro commented on #48
Hi @xCASx , this is a bug already fixed, give me the time to release the 1.6.1.CR1 version.

[2016-09-08 09:46] xCASx commented on #48
Ok, thank you!

[2016-09-08 09:47] avurro commented on #48
give me max two days

[2016-09-27 11:16] Khinsu opened #50 "API conversion for multiple fields doesn't work"
//broken
.add(conversion("fromDoubleToString").from("latd", "lgtd").body("..."))

//works
 .add(conversion("fromDoubleToString").from("latd,lgtd").body("..."))

off-by-one error in:
String com.googlecode.jmapper.util.GeneralUtility.join(String charSeparator, String... strings)

[2016-09-27 12:03] avurro commented on #50
Hi @Khinsu,

It will be fixed in the next release.

thank you for the support :thumbsup:

[2016-10-05 09:14] petromir opened #51 "[Question] Map nested objects with single mapper"
I have the following case:
[code]
The example above doesn't work due to:
[code]
I would like to map the nested object automatically using single mapper like:
[code]
without the need to create one for each nested object like:
[code]

[2016-10-05 09:30] avurro commented on #51
Hi @petromir,
You do not need to create a mapper for each recursion, this is a feature already exists in the framework.
Now I create the test with your code, I'll let you know as soon

[2016-10-05 11:24] petromir commented on #51
Great, waiting for the test...

[2016-10-05 14:13] andreabertagnolli opened #52 "Flatten and Encapsulate with API"
Hi, I tried, based on wiki page https://github.com/jmapper-framework/jmapper-core/wiki/Flatten-And-Encapsulate to replicate the encapsulate to flatten example with API but I wasn't able to do it.

There's possibility to see an example?

[2016-10-05 15:15] avurro commented on #52
Hi @andreabertagnolli,
Flatten and encapsulate wiki page show how to apply a basic mapping without more configurations, if you need to see how to apply nested mapping visit the [Nested Mapping](https://github.com/jmapper-framework/jmapper-core/wiki/Nested-Mapping) page

[2016-10-05 19:35] avurro commented on #51
I created the test using your classes and configurations but the test does not return errors, sure there is not anything else? however, below the test code:

[code]

[2016-10-05 21:30] avurro commented on #50
Fixed and released! :thumbsup:

[2016-10-05 21:30] #50 closed

[2016-10-05 21:31] avurro commented on #48
Fixed!

[2016-10-05 21:31] #48 closed

[2016-10-06 12:52] petromir commented on #51
Sorry, my mistake. It works as expected! Thanks

[2016-10-06 12:52] #51 closed

[2016-10-06 13:27] avurro commented on #51
@petromir classes attribute isn't mandatory, you could reduce configuration

[2016-10-06 13:31] petromir commented on #51
@avurro Yeah I know but I want to limit it to specific class, if this is the way to do it 😄

[2016-10-06 13:32] avurro commented on #51
it's the right way :+1:

[2016-10-06 13:37] petromir opened #53 "[Question] Map when nested objects are null."
I have the following case:
[code]
The example above doesn't work due to:
[code]
Is there a way to get `null` into `nestedSourceData`? I thought that NullPointerControl works even for nested objects.

[2016-10-06 14:06] petromir commented on #53
I think #43 might solve the issue.

[2016-10-06 14:31] avurro commented on #53
you understand perfectly, this feature will be introduced with the next release, in the meantime you need to implement a conversion

[2016-10-06 14:33] petromir commented on #53
...or just to create empty `NestedSource`
Could please you write an example with conversion?

[2016-10-06 14:42] avurro commented on #53
An empty NestedSource solve this issue, but if you want more control a conversion method is needed:
[code]
I have to review the behavior of conversions in case of nested mapping, i will tell you more in a few hours

[2016-10-12 21:43] avurro opened #54 "adjustment of the targetClasses method of Global to that of the Attribute"

[2016-10-18 11:02] #54 closed

[2016-10-18 11:04] avurro opened #55 "add Set <-> array operation"

[2016-10-18 13:02] #52 closed

[2016-10-18 13:10] avurro commented on #53
Hi @petromir,

In case of conversion between nested fields, in `from` and `to` attributes  you must specify only the final field names, for more info see [Explicit conversions](https://github.com/jmapper-framework/jmapper-core/wiki/Explicit-Conversions) wiki page.

[2016-10-18 13:10] #53 closed

[2016-10-19 07:52] petromir opened #56 "MappingType lost in recursive mapping"
I have the following case:
[code]
And the output is the following:
[code]
As you can see `nestedDestinationText`'s value has been deleted even if `MappingType.ONLY_VALUED_FIELDS` is selected. Not that this happens only in nested objects, so if you leave `sourceText` as `null`and populate `destinationText` with some value, then the value will be presented, e.g.
[code]

[2016-10-19 07:58] avurro commented on #56
Hi @petromir,

this is a bug that i'm going to fix, for now you can proceed? or you're stuck?

[2016-10-19 08:01] petromir commented on #56
I'm currently blocked, but I will be happy if you suggest any temporary workaround.

[2016-10-19 08:06] avurro commented on #56
you can change the setNestedDestinationText  method? in the case of it:
[code]

[2016-10-19 08:11] avurro commented on #56
However this is a recursive mapping, for _nested mapping_ i mean when you need to map a field with another field in different level, an example of nested mapping using your code is:
[code]
for recursive mapping the problem should not exist, I will try to fix as soon as possible

[2016-10-19 10:21] petromir commented on #56
We use [lombok](https://projectlombok.org/) to avoid boilerplate code, although I can change that until you fix the issue.
Your second example is not our case, but I'm aware of that functionality and also waiting for resolution of #42

[2016-10-19 20:19] avurro commented on #56
ok @petromir! issue fixed! download the project and run: `mvn package` to get the jar with this fix.
Replace the current one with this generated.
The 1.6.1.CR2 version will be released shortly! stay tuned! :thumbsup:

[2016-10-19 20:19] #56 closed

[2016-10-20 12:06] petromir commented on #56
Thanks!

[2016-10-21 15:08] avurro opened #57 "Destination Factory for nested classes"

[2016-11-08 13:20] petromir opened #58 "Upload snapshots to public repo."
I would like to use the latest shapshots of JMapper in our projects, so I don't have to wait for full completion of some milestone (_**1.6.1.CR2**_) in order to use alredy fixed issues like https://github.com/jmapper-framework/jmapper-core/issues/56.
I'm aware that snapshot is not a stable version, but at least I will have an option to use what has been done so far immediately.
You can take **_Spr

[2016-11-08 13:34] avurro commented on #58
ok @petromir, tonight i will release the snapshot that you need :+1:
In the meantime you are using the jar with the change, as i have advised you?

[2016-11-08 13:48] petromir commented on #58
Local jar has some drawbacks when you work in a team of several developers or using a CI tool.
I don't mind to wait for a shapshot repository that you will provide.

[2016-11-08 20:21] avurro commented on #58
**1.6.2-SNAPSHOT** released!
[code]
good work! 👍

[2016-11-09 14:41] petromir commented on #58
Great! I still don't see it in Maven Central.

[2016-11-09 14:52] avurro commented on #58
you must add the repository in settings.xml:
[code]

[2016-11-10 13:54] petromir commented on #58
Thanks. I'm using Gradle (unfortunately) and I had to do the following:
[code]

[2016-11-10 13:54] #58 closed

[2016-11-18 12:03] ls3642 opened #59 "convert primitiv to enum class"
**ConversionBodyIllegalCodeException: error in static conversion: probably is an incompatibility of signature, the expected input fields do not match with the real ones, checks the configured class.**

I want to convert a primitiv short to an enum object.

`.add(attribute("anEnum")
                                .value("aShort"))
                        .add(conversion("shortToEnum")

[2016-11-18 12:29] avurro commented on #59
Hi @ls3642,
I will write the test and give you feedback as soon as possible

[2016-11-18 17:50] avurro commented on #59
Fixed!
[code]
You need to add the Snapshot repository! go to [wiki page](https://github.com/jmapper-framework/jmapper-core/wiki/SNAPSHOT) for this.

Add a star if you like the project! thank you for support! 👍

[2016-11-18 23:16] petromir commented on #59
#58 points 1.6.2-SNAPSHOT as a snapshot version. How 1.6.1.CR2-SNAPSHOT differs from it?

[2016-11-19 01:40] avurro commented on #59
This snapshot includes several issue, see [release notes](https://github.com/jmapper-framework/jmapper-core/wiki/Release-Notes) for more info. For the first snapshot i haven't reasoned much about the definition of the name. This release include 1.6.2-SNAPSHOT, so you can use it without problem.

[2016-11-21 16:38] CodeNinjai opened #60 "wrong classLoader usage"
Hello,

we are using JMapper 1.6.1.CR1 in a Spring Boot Environment.
We have a controller with a method like this:

[code]

Calling getByClientId() the first time works fine, and also the mapping does what we expect it should.
But calling the method twice raises following exception:

com.googlecode.jmapper.exceptions.JMapperException: javassist.CannotCompileException: by java.lang.LinkageError: lo

[2016-11-21 17:05] avurro commented on #60
hi @CodeNinjai,
Which version of Tomcat you use? I suggest you use from 7.0.26 onwards.
There is a bug in previous versions of Tomcat on WebClassloader.

[2016-11-21 17:14] #59 closed

[2016-11-21 17:22] avurro commented on #60
please give me a feedback if you resolve this issue, so I can write it in the wiki

[2016-11-22 08:44] CodeNinjai commented on #60
Hi @avurro

thanks for the quick reply. We use Tomcat 8.5.5

"Starting Servlet Engine: Apache Tomcat/8.5.5"

So this might not be the cause of the problem?

Thanks,
Jan

[2016-11-22 08:57] avurro commented on #60
Probably due to a management with more ClassLoader.
Can you attach a project that recreates the error?

[2016-11-22 09:43] CodeNinjai commented on #60
We also assume that the problem is related to the classloader being used. When JMapper is instantiated for the first time, MapperBuilder.exist( ) returns false as expected. But on further instantiations it is still false, causing javassist to dynamically create a (duplicate) class definition.

Give me a moment to create a project for you...

[2016-11-22 10:48] avurro commented on #60
Try to configure the web application class loader as described [here](https://tomcat.apache.org/tomcat-8.0-doc/class-loader-howto.html), adding the `<Loader delegate="true"/>`

[2016-11-22 10:48] CodeNinjai commented on #60
Can you try to build this
https://github.com/CodeNinjai/JMapperClassloaderIssue ?
Just run the app and go to http://localhost:8080
The first time, it will run successfully, the second call will fail.

[2016-11-22 10:51] CodeNinjai commented on #60
@avurro Ok, we are going to try this `<Loader delegate="true"/>` thing....

[2016-11-22 12:00] avurro commented on #60
switching on jetty the issue there isn't, so now i have to decide if to load all ClassLoaders and check the class existence or delegate to a Tomcat configuration.

[2016-11-22 13:27] CodeNinjai commented on #60
we checked delegation and it is enabled. Also tried to override the ThreadContextClassLoader:

[code]

But didn't help either.
What do you suggest?

Thanks,
Jan

[2016-11-22 13:38] avurro commented on #60
I will solve the problem tonight and will release a SNAPSHOT with this fix.

[2016-11-22 13:40] CodeNinjai commented on #60
Awesome! Thank you very much for the quick help!

[2016-11-23 00:37] avurro commented on #60
Fixed!
[code]
You need to add the Snapshot repository! go to [wiki page](https://github.com/jmapper-framework/jmapper-core/wiki/SNAPSHOT) for this.

good work! 👍

[2016-11-23 08:24] ls3642 commented on #59
Hi @avurro thanks for the fast response!
I do get a Exception: **com.googlecode.jmapper.exceptions.JMapperException: com.googlecode.jmapper.exceptions.ConversionBodyIllegalCodeException: There is an error in the generated method. Additional information: [source error] invalid types for !=**

[2016-11-23 09:16] avurro commented on #59
are you using the snapshot?

[2016-11-23 09:51] ls3642 commented on #59
I thought the snapshot version 1.6.2-SNAPSHOT also includes the fix of this bug. I used now the version 1.6.1.CR2-SNAPSHOT and it worked perfectly.
Thank you for your support!

[2016-11-23 09:56] CodeNinjai commented on #60
Alessandro,

just tried out the snapshot version. Now I'm getting an ClassCastException at the mapper.getDestination() call:

[code]

Exception:

[code]

[2016-11-23 10:00] avurro commented on #59
add a star if you like the project! thank you! :+1:

[2016-11-23 10:10] avurro commented on #60
Curious, the application that you sent to me work perfectly.
There are differences between the demo application and the one you use?
Destination Class is loaded two times... i'm sorry for the time that I'm doing you lose, i will solve as soon as possible

[2016-11-23 12:44] CodeNinjai commented on #60
We found the difference!
 spring-boot-devtools causes the issue..
[code]
So, we'll exclude this for the moment. We might investigate the class cast issue in this context further, but you may too, if you have spare time for that ;-)

Thanks,
Jan

[2016-11-23 13:15] avurro commented on #60
ok Jan, the important thing is that you are not locked.
In the meantime i will find a solution for that too :+1:

[2016-11-23 14:11] CodeNinjai commented on #60
Thank you very much for you efforts!

[2016-11-23 20:42] avurro commented on #60
I'm trying with dependency you said but the error does not recur.
There's probably something else.
If you can recreate the error on your project, I will take it back

[2016-11-24 08:38] abweg commented on #60
[demo.zip](https://github.com/jmapper-framework/jmapper-core/files/610771/demo.zip)

Hi avurro,
I'm a collegue of CodeNinjai. We both work on the same project. With the 'new' demo Project we can reproduce the error (using 1.6.1.CR2-SNAPSHOT and spring-boot-devtools).
Without devtools all is working fine, without not.  (We also use hibernate-handling now, to reproduce our main project realistically

[2016-11-24 08:38] abweg commented on #60
Thanks!

[2016-11-24 08:41] abweg commented on #60
First step: Insert one row in hsqldb  "http://localhost:8080/insert".
Second step : Fetch the inserted row by "http://localhost:8080/1". (It's craching with devtools included)

[2016-11-24 08:58] avurro commented on #60
thanks @abweg!
I work on it as soon as possible.

[2016-11-24 23:06] avurro commented on #60
Guys i have fixed the issue, i have deployed the snapshot with the same name.
Let me know if it works (be sure to load the right one).

[2016-11-25 10:59] abweg commented on #60
Hi @avurro.
I have just tried out your new version. The method exists() (in jmapper.class (Line 449)) seems to work, but mapper. get... returns null. Let's wait until monday, so my colleagues can have a look about that.
Calling "final JMapper<XDTO, X> mapper = new JMapper<>(XDTO.class, X.class);" twice, is now throwing a Nullpointerexception...

Many thanks for your efforts! And have a nice weeken

[2016-11-25 15:38] avurro commented on #60
Try again now, i don't understand why i haven't your errors, however i have modified the get method, in this way the same classLoader will be used.
I hope this is the right time :sunglasses:

[2016-11-28 12:49] CodeNinjai commented on #60
Alessandro,
we just had success with you latest snapshot.. On my machine everything worked just fine even with spring-devtools enabled.

We keep you updated.

[2016-11-28 12:57] avurro commented on #60
good news! JMapper is more robust thanks to you! close the issue when you are confident :+1:

[2016-12-01 11:19] ls3642 opened #61 "map Enum class to same Enum class"
Hi!
 I would like to map an enum class to the same enum class but i get an exception:

.add(attribute("dogEnum").value("otherDogEnum"))

If I  add an conversation like this it does work:
[code]

[2016-12-01 11:26] avurro commented on #61
Hi @ls3642 ,
Just the time to create a test and fix it, give me few hours

[2016-12-01 21:23] avurro commented on #61
I haven't any error, are you sure that Enum is the same ? can you provide complete code ?

[2016-12-06 10:34] phil-schneider commented on #59
We have the same issue.
Could you create a new release for 1.6.1.CR2-SNAPSHOT
We can not really work with Snapshot versions and I dont want to fork your whole project :-)
Thanks a lot

[2016-12-06 10:45] avurro commented on #59
I think about it a bit, let you know

[2016-12-06 10:49] petromir commented on #59
I also vote for more often final releases, even if they contain 1 or 2 fixed issues. Thanks for your hard work.

[2016-12-06 10:52] #60 closed

[2016-12-06 10:53] #61 closed

[2016-12-08 12:15] phil-schneider commented on #59
Hello,
I cloned the repository to make a local release for 1.6.1.CR2-SNAPSHOT.
But I did not find any commit for this issue, nor did I found any tags or branches for this.
Could you please push your changes?

I understand that you might dont want to release yet, but please give us the chance to release a local version ourself with the fix.
Thanks a lot.

[2016-12-08 13:45] avurro commented on #59
@phil-schneider give me the time to release a version with this fix, just few hours.

[2016-12-12 12:16] avurro commented on #59
I'm having problems with the tests, I am sorry for the delay

[2016-12-12 23:09] avurro commented on #59
Ok guys, 1.6.1.CR2 released! i'm apologize for my delay

[2016-12-22 13:30] ankuragrwl opened #62 "Maven Dependency for Jmapper"
I am looking for the maven dependency for this library. I want to use it in my project.

[2016-12-22 13:33] avurro commented on #62
[code]
:+1:

[2016-12-22 13:45] ankuragrwl commented on #62
Thanks a lot.

I suggest you to add this to readme file.

[2016-12-22 13:45] #62 closed

[2016-12-22 13:52] avurro commented on #62
there is a badge "maven central" under **JMapper Framework** title :wink:

[2017-02-18 11:37] tranba opened #63 "Mapping fields in one direction only"
I can't find out the way to mapping fields in one direction only.
Can you add this feature?
In Orika (https://orika-mapper.github.io/orika-docs/mappings-via-classmapbuilder.html) we can do like that:
` mapperFactory.classMap(BasicPerson.class, BasicPersonDto.class).fieldAToB("name", "fullName")
...
.register();`

[2017-02-20 08:25] avurro commented on #63
Why do you need to force the mapping in one direction? the purpose of JMapper is to allow to reuse the same configuration as much as possible

[2017-02-21 03:24] tranba commented on #63
I'm using JPA - Hibernate and JMapper to map entities to dtos. I want to my entities has not need setter for id property. For now, my workaround is write a setter method for id property in abstract entity class with empty body 😄
[code]
Thank you!
(Sorry for my English)

[2017-02-21 08:37] avurro commented on #63
why you don't exclude the field from mapping? However I am happy that you have solved

[2017-02-21 10:39] tranba commented on #63
I need id field in DTOs but not want to update entity's id.
I am happy with my workaround too. So I will close this issues.

[2017-02-21 10:39] #63 closed

[2017-03-03 13:47] EgatlovS opened #64 "Library doesn't work in CDI environment"
When used in a Java EE project the following exception occurs:

The problem is that CDI tries to inject a Set of com.google.common.util.concurrent.Service but there is nothing that provides it.

Possible Solutions:
* Use a newer Guava version (at least 16, the fix was introduced there, see this [commit](https://github.com/google/guava/commit/8f062a880a3102d6d8f909c0754d3d2cd468c9dd#diff-7e608168f8

[2017-03-03 13:59] avurro commented on #64
Thank you for the support, i will work on it as quickly as possible :+1:

[2017-03-30 09:09] Elmosen opened #65 "JMapper use in Payara 4.1"
Hello,

I use a simple mapping from one type to another, and everything works fine in my JUnit test. I have two classes with three identical fields of type Integer, String, and Date.

When I try to use my mapping within an EJB for a Webservice, deployed on a Payara 4.1 server, I get an Exception - stack trace and other things see below in this message.

Is it a known problem or are there any hints

[2017-03-30 16:04] avurro commented on #65
Hi @Elmosen,

It is probably a class loading problem, can you share a runnable project?

[2017-04-03 06:35] Elmosen commented on #65
Hello Avurro,

thank you four your fast reply. I was sick since friday, so I was not able to answer sooner.

Yes, I'm sure it is a class loading problem. Did you hear about any Payara or Glassfish problems before?

I will now start with Dozer for my mapping (I used it already earlier), but I hope I will find the time to strip my project to give it to you for further investigation.

Regards,
Marc

[2017-04-24 04:21] exports opened #66 "How to use custom object factory"
Hi there!

Recently I'm trying to switch my MapStruct based bean mappers to JMapper, and I'm just wondering  how can I set factories for object like the `@ObjectFactory ` do in MapStruct? I'm trying to create mappers for my spring-data-jpa entity dtos, when map dto to actual entity, I want to load the entity by id instead of initialize a new instance.

[2017-04-24 08:29] avurro commented on #66
Hi @exports,

The request is not clear, could you write a sample code?

[2017-04-25 04:13] exports commented on #66
[code]
Both entities persisted in the database. When convert FooDto to Foo, I want to load the entity by id from database like `entityManager.find(fooDto.getId(), Foo.class)` or return a new instance if the entity not exists in database yet. In MapStruct 1.2.0.Beta, I can create a single ObjectFactory to manualy map a FooDto to Foo (as well as other entities) like this
[code]
When converting dtos,

[2017-04-26 08:44] avurro commented on #66
Hi @exports,

Currently there isn't a similar feature, will surely be included in the list of upcoming developments.
You may probably find this page useful:
https://github.com/jmapper-framework/jmapper-core/wiki/Immutable-Objects

[2017-04-26 08:46] avurro opened #67 "Allow access to the source at Destination Factory"
It may be helpful to access the source when creating the destination by using Destination Factory

[2017-05-14 22:17] petromir opened #68 "[Question] Map several source field to single destination object"
Hi,

I read about similar case here https://github.com/jmapper-framework/jmapper-core/wiki/Flatten-And-Encapsulate, but I couldn't match it to my case. So here it is:

[code]

What annotation should be placed in the `Dto`in order to have a list of `NestedEntity` objects, which have same data located in `data` and `text` fields and different `id` taken from each item in `ids`

[2017-05-16 08:08] avurro commented on #68
Hi @petromir,
There is currently no automation, default values are on the roadmap, meanwhile the only option is to use a static method only to encapsulate the mapping.

[2017-05-17 21:25] petromir commented on #68
@avurro Could you please provide an example?

[2017-05-22 07:25] avurro commented on #68
Hi @petromir,
Actually looking better there is no way to encapsulate the mapping, but you gave me a good idea, that is to add a new placeholder that allows access to the root of the field, something like that: `${source.root}` and `${destination.root}` would be useful.
What do you think about it ?

[2017-05-28 08:50] vguna opened #70 "Mapping metadata information"
Hi.

I'm thinking about switching from Dozer to your mapper.
One important aspect that needs to be fulfilled for this is, having information about the actual mappings during runtime.

Currently, I have my DTOs and my Entities where the mapping is done for.
I've created a generic way to formulate REST queries (using the DTOs) that are then transformed into JPA queries (Entities) based on the mappin

[2017-05-28 12:27] avurro commented on #70
Hi @vguna,
We are working on issue #28 to allow analysis of this type. Currently there are no features that allow it.

[2017-06-06 09:25] tokazio opened #71 "No setter/getter for field mapping"
How to map field when it doesn't have a getter/setter ?

Source
[code]

Destination
[code]

Got:

[2017-06-07 11:40] avurro commented on #71
Hi @tokazio,

Setter and getter methods are required, but you can apply a workaround using [custom accessor methods](https://github.com/jmapper-framework/jmapper-core/wiki/Custom-Accessor-methods).

[2017-06-07 13:15] tokazio commented on #71
Yes i'm aware of that. But i'm searching for an automatic field setting system.
I don't want the object (DTO) to expose setters or i want to choose the public ones. But private setters aren't automatically detected too.

[2017-06-26 12:14] #71 closed

[2017-06-26 12:17] tokazio opened #72 "[Question] xml mapping"
Name:
[code]

Person:
[code]

PersonDto:
[code]

How to map Person to PersonDto with XML ?

name.first -> firstName
name.last -> lastName

This doesn't work:
[code]

[2017-06-27 08:37] avurro commented on #72
Can you add mapping code and the error generated?

[2017-06-27 09:06] tokazio commented on #72
Full xml config:
[code]

Testing it with Junit and assertJ.
Direct mapped fields are ok.

No stack, but PersonDto.firstName is null

Test trace:

[2017-06-27 09:07] tokazio commented on #72
I don't know if
[code]
Is the right config to map Person.name.first -to  PersonDto.firstName

[2017-06-27 09:09] tokazio commented on #72
I'm comparing bean mapping framework. You can get the project [here](https://bitbucket.org/tokazio/mappersperfs)

[2017-06-27 09:26] avurro commented on #72
The mapping is not applied because the field "firstName" is not configured.
Between attributes there isn't a field "firstName" mapped, so the conversion is ignored

[2017-06-27 09:46] tokazio commented on #72
ha ok! i understand now... thanks!
this one works, and it's fast ;)
[code]

[2017-06-27 09:46] #72 closed

[2017-07-29 16:11] petromir commented on #43
Do you plan to provide this feature soon?

We really need it to reduce big amount of logic used to achieve same behavior.

[2017-07-29 16:14] petromir commented on #68
Hi @avurro,
Whatever you think will help us. Just provide few examples and probably a wiki article.

[2017-08-01 08:36] avurro commented on #43
Hi @petromir,

I'm glad you actively use the framework, but I am the only one to develop it and beyond that I have other personal goals.
My dream is to work full time on JMapper, but at the moment I do not have any incentive, so the time I spend is very limited.
Get the project as it is and not rely on new features in the list.
I'm really sorry

[2017-08-18 13:53] netmikey commented on #68
I ran across a similar situation where I wanted to map two fields `firstName` and `lastName` onto one destination field `fullName`. I've been looking at global mappings and converters but nothing seems to fit the bill.

I'd like to do something like:

    <attribute name="fullName">
      <value>return ${source.root.firstName} + " " + ${source.root.lastName};</value>
    </attribute>

Would that h

[2017-10-04 23:25] annakulakrishna opened #73 "Please Add more examples"

[2017-10-12 12:11] khirschmann opened #74 "Mapping to Map"
When mapping multiple fields to a map AND one of those fields is null all members listed before this field in class are lost (map is set to null).

`public class Source {

	@JMap("map")
	private String id;
	@JMap("map")
	private Integer quantity;
	@JMap("map")
	private Date purchase;

	public String getId() {
		return id;
	}
	public void setId(String id) {
		this.id = id;
	}
	public Integer getQua

[2017-10-12 13:19] khirschmann commented on #73
Hello,
I have recently started to use jmapper. Anything special you are interested in?

Cheers

Kevin

[2017-10-12 13:25] avurro commented on #73
Hi Kevin,

can you be more specific?

2017-10-12 15:19 GMT+02:00 khirschmann <notifications@github.com>:

[2017-10-12 13:35] avurro commented on #74
Hi @khirschmann,

I need to do a test, let you know as soon as possible

[2017-10-13 09:05] khirschmann opened #75 "Wrong XML on https://github.com/jmapper-framework/jmapper-core/wiki/XSD"
Hello,
there is one wrong slash at the end of jmapper entity start tag on page:
https://github.com/jmapper-framework/jmapper-core/wiki/XSD

[2017-10-16 08:59] reyleo opened #76 "NullPointerException in Annotation.fillMappedField"
Issues happens when creating mapper with API and attribute has custom accessor annotation.
Here is minimal Test class
[code]

[2017-10-19 08:46] reyleo opened #77 "Custom conversions between types"
Add feature to define custom conversion between types rather than fields

Proposal
[code]
Conversion of that type is only applied when no conversions by name are found

[2017-12-15 08:02] svendiedrichsen opened #78 "Update xstream dependency"
Please update the xstream dependency to version >= 1.4.10. The version 1.4.9 carries a potential security vulnerbility as stated by your security badge.

[2018-02-06 10:19] ralfhecktor opened #79 "How can I map encapsulated complex types?"
Hello,

I would like to use JMapper but wonder if and how it is possible to map encapsulated complex types. I described the question on stackoverflow. Would appreciate any help.

[https://stackoverflow.com/questions/48640503/mapping-encapsulated-complex-types-with-jmapper](https://stackoverflow.com/questions/48640503/mapping-encapsulated-complex-types-with-jmapper)

[2018-02-27 13:45] M-Hagras opened #80 "Using operators in API body"
I am trying to loop over source[List<myObject>] to get data attribute pushing it to source.

I am using for loop but I get an error in codition operator. how can I escape it?
code
`.body("for(int i=0 ; i<=${source}.size() ; i++) ${destination}.add(${source}.get(0).getXValue());" +
                                "return ${destination};"))`
Error

[2018-03-05 18:38] ralfhecktor commented on #79
Any thoughts?

[2018-04-12 01:47] joshone opened #81 "mapper from autogenerated class"
i'm trying to map a java object from autogenerated class with just a getter in uppercase,

when i try to map it, jmapper search a getter in camelcase
there's a way to solve it?

[2018-04-12 19:40] avurro commented on #81
Hi @joshone,

what you need is here: https://github.com/jmapper-framework/jmapper-core/wiki/Custom-Accessor-methods

[2018-04-23 16:17] joshone commented on #81
that's right, i used it
thanks for your concern

[2018-06-28 14:12] vishakhapatil7 opened #82 "Map element from Array to another Array element"
I have 3 java classes : Order, Customer and Item.
Source class "Order" contains list of "Customer" in it. And "Customer" class contains list of "Item".
I want to map source and destination Order in such a way that, particular Item from source Order should map to particular Item from destination Order.
For this I am using <conversion> tag. Inside which I am trying to access Item of element of Custo

[2018-06-28 16:00] jaxkodex opened #83 "How to map single object to nested object"
Hi,

I am trying to map to a object that contains a nested object that has the same source as the main object, for example:

[code]

[code]

[code]

And i'd like to map `a.message = b.message` and `a.nested.value = b.nestedValue` so my current xml is like:

[code]

Currently I am getting the following error:

[code]

Thanks in advance

[2018-09-13 15:42] STValeo opened #84 "Mapping nested class"
Hi there
I've started to use jmapper recently and I'm just wondering if it's possible to do what I'm trying to do ahah

`------------ SRC FOLDER ------------------------------

[code]

[2018-11-16 13:03] psawmora opened #85 "Mapping List<String> to a List of non-String data type"
I was trying to do a recursive mapping on List of Strings to a List of Some other type. For an example take the following class definitions. Classes have getters and setters set through longbok.

`public static class EmployeeDB {

        private String bankName;

        List<Detail> details;
    }

    public class Detail {

    private String name;
    private String address;
}

    public stat

[2018-11-16 13:05] psawmora commented on #85
I'm using 1.6.1.CR2

[2019-01-23 12:31] arko2405 opened #86 "How to do Index Mapping"
How to map 1st element of a list of String to a String
I want something like :-
@JMap("${stringgs[1]}")
private String field;

[2019-09-19 19:58] sanket-jayasval opened #87 "Nested mapping in source and destination"
Hi,

I am new to JMapper, was trying to map two nested objects.

Scenario:
-----------------
Source {                                                             Destination {
    User {                                                                      Address {
         Address {                                                                    String city;
               String city;

[2019-12-11 15:18] eriknyk opened #88 "Is this project still maintained?"
I wish to know if this project still maintained, last commit on May 22, 2017.

Regards.

[2019-12-13 12:54] ft0907 commented on #88
Estimated dead

[2020-01-20 10:07] rajalingams opened #89 "Mapping a flat source to a nested destination not working"
I am trying to convert the source to the destination structure using a single jmapper instance with an xml configuration.

My source class:

[code]

My destination classes:

[code]

[code]

XML configuration:

[code]

**"${}"** is not working. I know that it works if the source also has an encapsulated class and i can pass it in. Is there a way to pass the original instance as a whole to personalI

[2020-04-13 15:54] vash95 commented on #41
Hi, i need a workaround, or elvis operation is now work?

[2020-11-12 09:10] sudeerjoshi opened #92 "JMapper with Lambok"
I am using JMapper with some POJO classes which has setter getter methods and it's working fine, when I removed all setters and getters and used Lombok for the same, I am getting MalformedBean exception saying get....() not found ...will JMapper supports working with Lombok?

@Data(from lombok)  // generates getters and setters
public class Document {

    protected FIToFIPaymentStatusReportV06 fi

[2020-12-08 15:48] Shryne commented on #92
JMapper works with Lombok. Example:
[code]
This should with your setup. If it does, try to convert it to your use case step by step and see what's wrong. It's certainly not Lombok.

[2020-12-25 03:39] tianqing108 commented on #88
It's dead

[2021-01-01 18:31] avurro commented on #88
I'm alive :smile: but I've lost interest in JMapper, I haven't received any kind of support from community. I started other more profitable projects

[2021-02-19 11:37] zhenyabodukhin opened #95 "[Question] Nested object mapping/conversion not working"
I have a problem. As you see below, I have tried to map Classes with Jmap Annotations, all working ok, except conversion method for List vehicleType field in destination class. Jmapper do not call this method and I get this field null. All required fields in Source.class have values.
[https://stackoverflow.com/questions/66273658/jmapper-conversoin-of-nested-fields-not-working](url)

`public class

[2021-02-19 13:17] joshone commented on #95
i use the @JMap annotation and @JMapAccessor when the list's name is larger,
all the class attributes that you need should be tagged

like this

`
public class ArrayOfSomeClass{
    @JMapAccessor(name = "aicr0P01V01S03", get = "getAICR0P01V01S03", set = "setAICR0P01V01S03")
    @JMap
    List<AICR0P01V01S03> aicr0P01V01S03;

    public List<AICR0P01V01S03> getAICR0P01V01S03(){
           return ai

[2021-02-19 13:27] zhenyabodukhin commented on #95
Thx for your comment, i will try add this. But my other List fields working ok without this annotation, i think, the problem is that JMapper do not use my method annotated with JMapConversion(@JMapConversion(from = {"vehicleAxleDetails"}, to = {"vehicleTyre"})), where i try to map some fields

[2021-02-19 13:30] joshone commented on #95
i never used JMapConversoin, try using the JMapAccessor, this work when the list object has a larger name as VehicleAxleDetailsType

[2021-02-23 07:24] #95 closed

[2021-09-16 05:13] injulkarnilesh opened #99 "Breaks with XStream 1.4.18"
XStream's latest release 1.4.18 introduced breaking changes as

With this, we need to explicitly whitelist model classes which we can use with XStream.

Currently, it is breaking with

[code]

[2021-10-16 02:32] sajanmje27 opened #100 "Quarkus JMapper error in mapper constructor"
### Describe the bug

We are creating new Rest Api using Quarkus, postgresql, JMapper and lombok. Jmapper throwing below error while calling api not sure why. Added lombok, jmapper-core details of the pom.xml and added detail error message. please let me know if any more details is required. I am new too JAVA and quarkus. thanks in advance.

my POC Project.
https://github.com/FishTechnology/cana-a

[2022-08-23 12:14] Manikaran2105 opened #104 "mapping between nested fields"
as per comments there was an enhancement when we have the mapping between nested fields. Can you please share the implementation for the same.

[2022-08-25 22:37] luismora1224 opened #105 "Different code in maven central"
Hello

A few days ago I was working on a project that uses the jmapper-core dependency, however I was surprised that when I updated a library called XStream to version 1.4.19, the project started to crash, investigating the issue I found that the jmapper-core repository It was left without support since 2016, however I found that precisely, you created a fork of the project and made the necessary

[2022-08-26 06:52] Shryne commented on #105
As far as I know, there was no fork. This project started at googlecode and moved to github, but I think that's all.

The last release of this project was in 2016 (see under releases here in github). However, the github dependency checker complained about some vulnerabilities and added some pull requests, which have been accepted by the author.
This leads to your findings: The master branch is ahe

[2022-08-26 16:11] luismora1224 commented on #105
I understand, according to your answer do you think there is a possibility that the current code will be deployed in maven at some point?

[2022-08-30 06:17] Shryne commented on #105
I don't think so. The author has stated that he doesn't want to continue working on this project.

[2022-08-30 15:58] luismora1224 commented on #105
ok thank you very much for your answer.

[2022-08-30 15:58] #105 closed

[2022-11-16 10:38] rguillome opened #106 "Function to compare"
Hi,

I've got a use case where I should know if two objects from different classes should be updated before doing the mapping.
I think a mapper framework should provide this functionality : compare two mapped classes even with a old/new values for each object in a meta object resulting from the compare method.

What do you think ?